.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.Rproj.user/
.Rproj.user\
.Rproj
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
Rproj.user

/Data/**/*.zip
/Data/**/*.sav
/Data/**/*.dta
/Data/**/*.7z

Data/for_analysis/ess10.rds
Data/for_analysis/evs2017.rds
Data/for_analysis/wvs*
Data/for_analysis/issp2020.rds
Data/for_analysis/bsa2020.rds

Data/raw/


/.luarc.json

/.quarto/
